DATABASE_URL=postgres://usuario:password@host:puerto/basededatos
MAILGUN_API_KEY=tu-api-key
MAILGUN_DOMAIN=tu-dominio
MAILGUN_FROM=mail@tudominio.com
IMEI_API_KEY=tu-api-key
PORT=8080
NODE_ENV=development
STRIPE_SECRET_KEY=tu-stripe-secret
STRIPE_PUBLISHABLE_KEY=tu-stripe-publishable